.filterForm {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 42px;
}

.filterForm input {
  background-color: white;
  width: 407px;
  height: 37px;
  padding-left: 10px;
  color: #2f4f4f;
  border-radius: 3px 0px 0px 3px;
}

.filterForm .button:hover {
  cursor: default;
  background-color: #287fb8;
  border: 1px solid #287fb8;
}

.filterForm a {
  padding: 5px 19px 8px 18px;
  border-radius: 0px 3px 3px 0px;
  margin: 8px 0px 0px 0px;
}

.filterForm i {
  font-size: 14px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bfcad2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bfcad2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bfcad2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bfcad2;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bfcad2;
}
