.bookings-index {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #2f4f4f;
}

.bookings-index .banner {
  color: #27374c;
}

.bookings-list {
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0px;
  width: auto;
  overflow: scroll;
  height: 100vh;
  padding: 0px 13px;
  direction: rtl;
  border-radius: 3px;
}

.bookings-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px 10px 12px;
  background-color: #ecf0f1;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 412px;
  border: 1px solid #bfcad2;
}

/*.bookings-list > li > div {

  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.bookings-list > li > a {
  margin-bottom: 6px;
  color: #2f4f4f;
}

.bookings-list > li > a:first-of-type {
  margin-top: 3px;
  font-weight: 700;
}

.bookings-list > li > a:hover {
  color: #f18539;
}

.bookings-list > li > a:focus {
  color: #2f4f4f;
}

.bookings-list > li > p {
  margin-bottom: 6px;
}

.no-bookings {
  margin-top: 15px;
  margin-bottom: 10px;
}

/*

margin: 13px;
background-color: white;
padding: 9px 10px;
border-radius: 3px;
border: 1px solid #bfcad2;

*/
