.chair-show {
  display: flex;
  flex-direction: column;
}

.chair-container {
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chair-description {
  flex: 1;
}

.chair-container img {
  flex: 1;
  width: 25%;
  height: 25%;
  max-width: 400px;
  max-height: 400px;
  margin-right: 30px;
}
