.footer {
  display: flex;
  flex-direction: column;
  height: 270px;
  border-top: 1px solid #bfcad2;
  padding-left: 17px;
}

.topLinks {
  display: flex;
  justify-content: space-between;
}

.footerLinks {
  display: flex;
}

.footerLinks a {
  font-weight: 700;
  margin-top: 34px;
  font-size: 14px;
  margin-right: 41px;
  color: darkslategray;
}

.footerLinks a:hover {
  color: #ed6504;
  text-decoration: underline;
}

.footer select {
  box-sizing: content-box;
  background-color: white;
  font-size: 13px;
  color: #ed6504;
  border: 1px solid #ecf0f1;
  margin-right: 38px;
  margin-top: 28px;
  padding: 9px 10px;
  padding-right: 81px;
  -webkit-appearance: none;
  background: url('http://res.cloudinary.com/dfuh8ucrc/image/upload/v1495070473/down-arrow_ajhfnp.png') no-repeat right white;
  background-position-x: 136px;
  background-size: 7%;
}

.midLinks {
  display: flex;
}

.footer p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #929dad;
  margin-bottom: 11px;
}

.socialIcon {
  border-radius: 50%;
  border: 2px solid #eff3f3;
  color: darkslategray;
  padding: 6px;
  margin-right: 14px;
}

#fb {
  padding: 6px 9.5px;
}

.midLinks div:first-of-type {
  margin-right: 90px;
}

.midLinks:last-child a {
  padding: 6px 7px;
}

.midLinks:last-child a:last-of-type {
  padding: 6px 8px;
}
