/* NAV BAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px 3px 15px;
  border-bottom: 2px solid #bfcad2;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
  background-color: white;
  font-weight: 300;
}

header > a {
  margin: 0px;
  margin-top: 6px;
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

header img {
  width: 110px;
  margin: 5px;
}

header div {
  display: flex;
}

header div a {
  font-size: 15px;
  padding: 8px;
  margin: 6px 11px 10px 0px;
  text-align: center;
  transition: background-color 0.3s;
}


.login {
  background-color: white;
  border: 1px solid #287fb8;
  color: #287fb8;
  margin-right: 20px
}

.login:hover {
  background-color: #f1efea;
}

.signup {
  background-color: #287fb8;
  border: 1px solid #287fb8;
  color: white;
  padding: 8px 11px;
}

.signup:hover {
  background-color: #2371a3;
  border: 1px solid #2371a3;
}

.loggedIn-menu {
  display: flex;
  margin-right: 36px;
}

@media screen and (min-width: 1050px) {
  .signup {
    width: 140px;
  }

  .login {
    width: 80px;
    margin-right: 37px;
  }
}
