/* NAV BAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px 3px 0px;
  border-bottom: 2px solid #bfcad2;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
  background-color: white;
  font-weight: 300;
}

header > a {
  margin: 0px;
  margin-left: 14px;
  margin-top: 6px;
  background-color: transparent;
}

header img {
  width: 110px;
  margin: 5px;
}

header div {
  display: flex;
}

header .button {
  padding: 8px;
  margin: 6px 11px 10px 0px;
  font-weight: 500;
}

header .button-white {
  margin-right: 20px;
  padding-left: 9px;
  padding-right: 7px;
  border-radius: 3px;
  font-weight: 700;
}

header .button-blue {
  padding: 8px 11px;
}

.loggedIn-menu {
  display: flex;
  margin-right: 36px;
}

@media screen and (min-width: 1050px) {
  header .button-blue {
    width: 140px;
  }

  header .button-white {
    width: 80px;
    margin-right: 37px;
  }
}
