.rental-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b2b2b2;
  padding: 23px 0px 24px 0px;
  position: relative;
  background-color: #ecf0f1;
  border-radius: 3px;
  margin: 0px 45px;
}

.chair-about p {
  margin-bottom: 10px;
}

.header-holder {
  position: absolute;
  top: -15px;
  display: flex;
}

.rental-form .header-holder:last-of-type {
  top: 129px;
}

.rental-form h3 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-left: 6px;
  color: white;
  background-color: rgb(255, 64, 64);
}

.rental-form > div:last-of-type {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.rental-form > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datePicker {
  background-color: white;
  border-radius: 3px;
  margin: 6px 0px 10px 8px;
  font-size: 16px;
  border: 1px solid #B2B2B2;
  color: #27374c;
  padding: 5px 7px;
  padding-right: 3px;
}

.rental-form > div > div:last-of-type .datePicker {
  margin-bottom: 6px;
}

.header-holder .button {
  padding: 3px 9px;
  margin: 0px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 14px solid transparent;
  display: inline-block;
  border-left: 22px solid rgb(255, 64, 64);
}

.fa-thumbs-up {
  font-size: 30px;
}

@media(max-width: 1040px) {

  .rental-form {
    margin-bottom: 25px;
    margin: 0 auto;
    width: 80%;
  }
}

/*
.react-datepicker__input-container {
  display: block;
  position: static;
}*/
