html, body, div, section, main, p, h1, a, span, h2, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  font-size: 1em;
  line-height: 1.5;
  font-weight: inherit;
  font-feature-setting: 'kern', 'liga', 'pnum';
}
