/* SESSION */

.sessionForm {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 7px;
  width: 39%;
  margin: 0 auto;
}

.formHeader {
  border-bottom: 1px solid #f1efea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formHeader p {
  margin-right: 35px;
  font-size: 20px;
  color: #B2B2B2
}

.formHeader p:hover {
  color: gray;
  cursor: pointer;
}

.sessionForm h2 {
  margin: 27px 38px 23px 38px;
  font-size: 20px;
  font-weight: 700;
  color: #34495e;
}

.formBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 38px;
}

.firstAndLast {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}

.firstAndLast > input:first-child {
  margin-right: 7px;
}

.firstAndLast input {
  flex: 1
}

.sessionForm input {
  margin-bottom: 10px;
  font-size: 16px;
  color: #27374c;
  border: 1px solid #B2B2B2;
  padding: 10px 7px;
  flex: 1;
}

.submit {
  background-color: #287fb8;
  border: 1px solid #287fb8;
  color: white;
  padding: 8px 25px;
  margin: 0px 0px 13px 0px;
  transition: background-color 0.3s;
  font-weight: 300;
  flex: 1;
}

.submit:hover {
  background-color: #2371a3;
  border: 1px solid #2371a3;
  cursor: pointer;
}

.switchLogin {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchLogin span {
  margin-top: 20px;
  font-weight: 300;
}

.switchLogin a {
  margin-top: 20px;
  margin-bottom: 32px;
  background-color: white;
  border: 1px solid #287fb8;
  padding: 8px 25px;
  color: #287fb8;
}

.switchLogin a:hover {
  background-color: #f1efea;
  cursor: pointer;
}

.errorList {
  padding: 12px;
  background-color: rgba(198,61,67,0.25);
}

.errorMessage {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #3e1214;
}

@media (max-width: 1147px) {

  .sessionForm {
    width: 413px;
  }
}

@media (max-width: 500px) {
  .firstAndLast {
    flex-direction: column;
  }

  .firstAndLast > input:first-child {
    margin-right: 0px;
  }
  .sessionForm {
    width: 90%;
  }
}
