.infowindow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gm-style-iw {
  display: flex;
  justify-content: center;
}

.thumbnailHeader {
  font-size: 15px;
  margin: 0px;
  margin-top: 9px;
  font-weight: 300px;
  position: relative;
  top: 8px;
}

.thumbnail {
  height: 120px;
  width: 120px;
  margin-top: 0px;
  margin-bottom: 10px;
  display: block;
}

.thumbnail .button {
  display: block;
  margin-bottom: 2px;
}
