.chairButtonContainer {
  display: flex;
  justify-content: center;
  width: auto;
}

.createChairButton {
  -webkit-animation: swing 2.5s ease;
  animation: swing 2.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes swing
{
    12.5%
    {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    25%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    37.5% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
       transform: translateY(0px);
    }
    62.5% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    87.5%
    {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes swing
{
    12.5%
    {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    25%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    37.5% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
       transform: translateY(0px);
    }
    62.5% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    87.5%
    {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
